<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <img class="heading" src="../assets/images/logo_transparent.png">
              <h3 class="login-heading mb-4">Welcome to MyHotel.com!</h3>
              <h5 class="login-heading mb-4">Your Hotel informations :</h5>

              <form *ngIf="!ns">
                <div class="form-label-group">
                  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" (input)="updateData($event.target.name, $event.target.value)" value="{{toRegister.email}}" required autofocus>
                </div>

                <div class="form-label-group">
                  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" (input)="updateData($event.target.name, $event.target.value)" value="{{toRegister.password}}" required>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <a class="button" (click)=nextStep()>Next step</a>

                </div>
              </form>
              <form *ngIf="ns">
                <div class="form-label-group">
                  <input name="hname" type="text" id="inputName" class="form-control" placeholder="Hotel name" (input)="updateData($event.target.name, $event.target.value)" value="{{hotelToRegister.name}}" required>
                </div>

                <div class="form-label-group">
                  <input name="haddress" type="text" id="inputAdr" class="form-control" placeholder="Hotel address" (input)="updateData($event.target.name, $event.target.value)" value="{{hotelToRegister.address}}" required>
                </div>

                <div class="form-label-group">
                  <input name="hcity" type="text" id="inputAdr" class="form-control" placeholder="Hotel city" (input)="updateData($event.target.name, $event.target.value)" value="{{hotelToRegister.city}}" required>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <a class="button" (click)=previousStep()>Previous step</a>

                  <a class="button" (click)=submit()>Submit</a>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>