<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" RouterLinkActive="active" RouterLink="acp">
    <div class="sidebar-brand-icon rotate-n-15">
    </div>
    <img class="heading" src="../assets/images/logo_transparent-white.png">
    <div class="sidebar-brand-text mx-3">MyHotel ACP</div>
  </a>
  <li class="nav-item">
    <a class="nav-link collapsed">

      <span></span>
    </a>

  </li>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Heading -->
  <div class="sidebar-heading">
    Overview
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed">
      <i class="material-icons">
        business
      </i>
      <span>My hotels stats</span>
    </a>

  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" routerLinkActive="active" routerLink="/acp/reviewanalyzer">
      <i class="material-icons">
        timeline
      </i>
      <span>Review analyzer</span>
    </a>

  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" routerLinkActive="active" routerLink="/acp/onto">
      <i class="material-icons">
        account_tree
      </i>
      <span>Ontology</span>
    </a>

  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    My account
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed">
      <i class="material-icons">
        how_to_reg
      </i>
      <span>Edit informations</span>
    </a>

  </li>
</ul>
<!-- End of Sidebar -->